body {
  font-family: 'SF Pro Text', 'SF Pro Icons', 'Helvetica Neue', 'Helvetica',
    'Arial', sans-serif;
  line-height: 1.4rem;
  padding: 0 1rem 1rem 1rem;
  max-width: 680px;
  margin: 0 auto;
  color: #333;
}

h1 {
  margin: 0 0 2rem 0;
  font-size: 2.5rem;
  line-height: 3rem;
  font-weight: 300;
}

h4 {
  margin-bottom: 0.5rem;
  text-transform: uppercase;
}

a {
  font-weight: 500;
}

hr {
  border: 1px solid #ddd;
}

.yep {
  color: green;
}

.nope {
  color: red;
}

.iffy {
  color: rgb(216, 174, 58);
}

table {
  margin-bottom: 40px;
}

.container{
    display: flex;
}
.fixed{
    width: 300px;
    margin-top: 64px;
}
.flex-item{
    flex-grow: 1;
    
}

button {
  margin: 0 5px 10px 0;
}

input {
  margin-bottom: 10px;
}

td {
  vertical-align: top;
  min-width: 95px;
}